<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center"><font color="white">Crear una tecnologia</font></h2>
        <br>
        <form name="tecnologia" (ngSubmit)="f.form.valid && createTecnologia()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="nombre"><b><font color="white">Nombre</font></b></label>
                <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="tecnologia.nombre"
                    #ciudad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }" required>
                <div class="invalid-feedback">
                    <div>Hace falta el campo de nombre</div>
                </div>
            </div>
                <div class="form-group">
                        <label for="imagen"><b><font color="white">Imagen</font></b></label>
                        <input type="text" name="imagen" class="form-control" id="imagen" [(ngModel)]="tecnologia.imagen"
                            #imagen="ngModel" [ngClass]="{ 'is-invalid': f.submitted && imagen.invalid }" required>
                        <div class="invalid-feedback">
                            <div>Hace falta el campo de la imagen</div>
                        </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" [routerLink]="['/home']"  class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
</div>