<div class="container-fluid">
    <div class="col">
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
    </div> 
    <div class="container-fluid">
        <div class="col-md-2" *ngFor="let i of tecnologias">
            <td style="cursor: pointer;">
                <a class="figure-caption" [routerLink]="['/tecnologias', { outlets: { 'detail': [i.id] } }]">
                    <div class="card" style="width: 18rem;">
                        <img src="{{i.imagen}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.nombre}}</h5>
                        </div>
                      </div>
                </a>
            </td>
        </div>
    </div> 
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="col-4">
        <a [routerLink]="['/tecnologias/add']" id = "but1" class="button fancy-button"><i class="material-icons">Inscribir una tecnología</i></a>
        <div class="divider"></div>
        <div class="divider"></div>
    </div>
</div>