<div class="container-fluid">
  <div class="col-md-2">
    <table class="table table-striped table-dark">
      <thead class="thead-light">
        <tr>
          <th>Patrocinador Name</th>
        </tr>
      </thead>
      <tbody>
                <tr *ngFor = "let e of patrocinadores">
                    <td style="cursor: pointer;">
						<a class="figure-caption" [routerLink] ="['/patrocinadores', { outlets: { 'detail': [e.id] } }]" >{{e.name}}</a>
					</td>
                  
                </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <a [routerLink]="['/patrocinadores/add']" id = "but1" class="button fancy-button"><i class="material-icons">Inscribir un Patrocinador</i></a>
    <div class="divider"></div>
    <div class="divider"></div>
  </div>
  
