<form [formGroup]="patrocinadoresForm" (ngSubmit)="createPatrocinadores(patrocinadoresForm.value)">

    <div class="form-group mx-sm-3 mb-2">
     <label for="nombre">
       Nombre
     </label>
     <input novalidate
       id="nombre"
       class="form-control"
       formControlName="nombre"
       placeholder="Nombre del patrocinador">
    </div>
 
    <div class="form-group  mx-sm-3 mb-2">
     <label for="descripcion">
       Descripcion
     </label>
    <input id="descripcion" type="text"
      class="form-control"
      formControlName="descripcion"
      placeholder="Descripcion del patrocinador">
   </div>
   <div class="form-group  mx-sm-3 mb-2">
     <label for="ubicacion">
       Ubicacion
     </label>
    <input id="ubicacion" type="text"
      class="form-control"
      formControlName="ubicacion"
      placeholder="Ubicacion del patrocinador">
   </div>
   <div class="form-group  mx-sm-3 mb-2">
     <label for="infoAdicional">
       Información Adicional
     </label>
    <input id="infoAdicional" type="text"
      class="form-control"
      formControlName="infoAdicional"
      placeholder="Información Adicional del patrocinador">
   </div>
   
 
   <button class="button mx-sm-3 mb-2" type="submit"   
           [disabled]="patrocinadoresForm.invalid">Create</button>
 
 </form>