<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <br>
      <h2 class="text-center"><font color="white">Crear un patrocinador</font></h2>
      <br>
      <form name="patrocinador" (ngSubmit)="f.form.valid && createpatrocinador()" #f="ngForm" novalidate>
          <div class="form-group">
              <label for="nombre"><b><font color="white">Nombre</font></b></label>
              <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="patrocinador.nombre"
                  #nombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }" required>
              <div class="invalid-feedback">
                  <div>Hace falta el campo del nombre</div>
              </div>
          </div>
          <div class="form-group">
                  <label for="descripcion"><b><font color="white">Descripcion</font></b></label>
                  <input type="text" name="descripcion" class="form-control" id="descripcion" [(ngModel)]="patrocinador.descripcion"
                      #Descripcion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && descripcion.invalid }" required>
                  <div class="invalid-feedback">
                      <div>Hace falta el campo de la Descripcion</div>
                  </div>
              </div>
              <div class="form-group">
                      <label for="ubicacion"><b><font color="white">Ubicacion</font></b></label>
                      <input type="text" name="ubicacion" class="form-control" id="ubicacion" [(ngModel)]="patrocinador.ubicacion"
                          #ubicacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ubicacion.invalid }" required>
                      <div class="invalid-feedback">
                          <div>Hace falta el campo de la ubicacion</div>
                      </div>
                  </div>
                  <div class="form-group">
                          <label for="informacionAdicional"><b><font color="white">Informacion Adicional</font></b></label>
                          <input type="text" name="informacionAdicional" class="form-control" id="informacionadicional" [(ngModel)]="patrocinador.informacionAdicional"
                              #informacionadicional="ngModel" [ngClass]="{ 'is-invalid': f.submitted && informacionAdicional.invalid }" required>
                          <div class="invalid-feedback">
                              <div>Hace falta el campo del Informacion Adicional</div>
                          </div>
                      </div>
          <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary">Create</button>
              <div class="divider"></div>
              <button type="button" [routerLink]="['/home']"  class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
          </div>
      </form>
  </div>
</div>