<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th> 
                    <th>Nombre interes</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of intereses">
                  <td>{{e.id}}</td>
                   <td style="cursor: pointer;">
						<a class="figure-caption" [routerLink] ="['/intereses', { outlets: { 'detail': [e.id] } }]" >{{e.nombre}}</a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>  