<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th> 
                    <th>Nombre interes</th> 
                    <th>Descripcion</th>  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of intereses">
                    <td>{{e.id}}</td>
                    <td>{{e.nombre}}</td>
                    <td>{{e.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>  