<div class="container-fluid maxWidth">  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <div class="form-inline">
                <img id="logo_peq" src="../assets/logo_peq.png" class="center-block"  height="70" width="70">
                <h2 class="mainTitle">H A C K A T O N E S</h2>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<!-- 		 Recurso de opciones de hackatones -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto mt-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">Ver hackatones</a>
					   	<!-- Opciones de la lista de hackatones -->
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" class="nav-item nav-link"  [routerLink]="['/lugares/list']">por lugar</a>
                            <a class="dropdown-item" class="nav-item nav-link"  [routerLink]="['/lenguajes/list']">por lenguaje</a>
                            <a class="dropdown-item" class="nav-item nav-link"  [routerLink]="['/patrocinadores/list']">por patrocinador</a>
                    </div>
                </li>
			</div>
		<!-- Barra de opciones para ingreso/registro -->
            <div class="navbar-nav ml-auto flex-column">
                <div class="flex-row" *ngxPermissionsOnly="['GUEST']">
                    <div class="form-inline">
                        <li class="right-space"><button id="register" style="text-align: right;" class="btn boton-pink fs-14 mb inscribirmeNow"  routerLink="/auth/sign-up"><span class="fa fa-user"></span>    Inscribirme</button></li>
                        <div class="divider"></div>
                        <li><button id="login" style="text-align: right;" class="btn boton fs-14 login mr mb" routerLink="/auth/login"><span class="fa fa-sign-in"></span>     Iniciar sesión</button></li>
                   </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
        <div class="border m-2 row">
             <div class="col">
                <router-outlet></router-outlet>
             </div>
             <div class="col">
                <router-outlet name="detail"></router-outlet>
             </div>
        </div>
    </div>