

  <div class="col-md-12">
    <div class="container-fluid">
            <h2 class="text-left" style="text-align:left;"><font color="white">Lenguaje: {{lenguajeDetail.name}}</font></h2>   
            <img src={{lenguajeDetail.imagen}}  alt="LenguajeImagen"  width=140 height=200 align="middle">
            <br>
    </div>
</div>
<hr>
    <h2 > <font color="white">Hackatones</font></h2>                      
    <div *ngFor = "let hackatons of lenguajeDetail.hackatones">
      <dd class="caption" routerLink="/hackaton/{{hackatons.id}}"><font color="white">{{hackatons.name}}</font></dd>
  </div>
<hr>