<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th> 
                    <th>Nombre</th> 
                    <th>Ciudad</th>  
                     <th>Direccion</th>  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of lugares">
                    <td>{{e.id}}</td>
                     <td style="cursor: pointer;">
						          <a class="figure-caption" [routerLink] ="['/lugares', { outlets: { 'detail': [e.id] } }]" >{{e.nombre}}</a>
					           </td>
                    <td>{{e.ciudad}}</td>
                    <td>{{e.direccion}}</td>
                </tr>
            </tbody>
        </table>
        <div class="col">
            <a [routerLink]="['/lugares']" class="button fancy-button"><i class="material-icons">Inscribir un nuevo lugar</i>Checkout</a>
        </div>
    </div>
  </div>