<div class="container-fluid">
    <div class="col">
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
    </div>  
    <div class="col">
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
        <a [routerLink]="['/lugares/add']" id = "but1" class="button fancy-button"><i class="material-icons">Inscribir un lugar</i></a>
        <div class="divider"></div>
        <div class="divider"></div>
        <a [routerLink]="['/lugares/update']" id= "but2" class="button fancy-button"><i class="material-icons">Actualizar un lugar</i></a>
        <div class="divider"></div>
        <div class="divider"></div>
        <a [routerLink]="['/lugares/delete']" id = "but3" class="button fancy-button"><i class="material-icons">Eliminar un lugar</i></a>
        <div class="divider"></div>
        <div class="divider"></div>
      </div>
        <div class="col">
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
           <tr *ngFor="let e of lista_lugares">
           <div class="card" style="width: 18rem;">
               <img src={{e.imagen}} class="card-img-top" alt="...">
              <div class="card-body">
                <td style="cursor: pointer;">
                    <a class="figure-caption" [routerLink] ="['/lugares', { outlets: { 'detail': [e.identificador] } }]" >{{e.nombre}}</a>
                </td>
           </div>
         </div>
      </tr>
  </div>
</div>