<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3 text-white">Patrocinador: {{patrocinadorDetail.name}}</p>
        <p class="p-3 text-white">Descripción: {{patrocinadorDetail.descripcion}}</p>
        <p class="p-3 text-white">Ubicación: {{patrocinadorDetail.ubicacion}}</p>
        <p class="p-3 text-white">Información Adicional:{{patrocinadorDetail.infoAdicional}}</p>

    </div>
</div>
<div class="col-4">
    <a [routerLink]="['/hackaton/add']" id = "but1" class="button fancy-button"><i class="material-icons">Añadir una hackaton</i></a>
    <div class="divider"></div>
    <div class="divider"></div>
  </div>