<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th> 
                    <th>Reglas</th> 
                    <th>Restricciones</th>  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of actuales">
                    <td>{{e.id}}</td>
                    <td>{{e.reglas}}</td>
                    <td>{{e.restricciones}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>  